h1,p,h2 {
    text-align: center;
}

body {
    /* add background image */
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    
}

.menu {
    /* added width as a % of parent */
    width: 80%;
    background-color: burlywood;
    /* center using margin */
    margin-left: auto;
    margin-right: auto;
}