h1,
p,
h2 {
  text-align: center;
}

body {
  /* add background image */
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

.menu {
  /* added width as a % of parent */
  width: 80%;
  background-color: burlywood;
  /* center using margin */
  margin-left: auto;
  margin-right: auto;
  /* add same space between content and sides, top and bottom */
  padding: 20px;
  /* set max width */
  max-width: 500px;
}

.flavor,
.dessert {
  text-align: left;
  width: 50%;
}

.price {
  text-align: right;
  width: 50%;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

/* added different font, setting serif as a fallback */
h1,
h2 {
  font-family: Impact, serif;
}

.established {
  font-style: italic;
}

h1 {
  font-size: 40px;
  /* remove default spacing */
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

/* Footer */

footer {
  font-size: 14px;
}

a {
  color: black;
}

/* add pseudo-selector when action taken */
a:visited {
  color: black;
}

/* add pseudo-selector for hover */
a:hover {
  color: brown;
}

/* add pseudo-selector for link when being clicked */
a:active {
  color: brown;
}

.address {
  margin-bottom: 5px;
}
